.avatar {
  display: inline-flex;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  @include themed() {
    background-color: t('systemBlue');
  }

  > .icon {
    font-size: 54px;
    color: white;
  }
}
