.avatar {
  display: inline-flex;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: relative;

  @include themed() {
    background-color: t('systemBlue');
  }

  > .icon {
    font-size: 54px;
    color: white;
  }

  &--online {
    color: white;
    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      position: absolute;
      right: 1px;
      bottom: 1px;
      border: 2px solid;
      @include themed() {
        background-color: t('systemGreen');
      }
    }
  }
}
