.sidebar-left {
  width: 421px;
  height: 100%;
  max-height: 100%;
  user-select: none;

  @include themed() {
    background-color: t('systemBackground');
    border-right: 1px solid t('separator');
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    align-items: center;
    padding: 0 20px 0 14px;

    > .button-icon {
      margin-right: 14px;
    }
  }
}
