$FONT_FAMILY: Roboto, sans-serif;

$SIZE_LARGE_TITLE: 32;
$SIZE_TITLE1: 27;
$SIZE_TITLE2: 21;
$SIZE_TITLE3: 19;
$SIZE_HEADLINE: 16;
$SIZE_BODY: 16;
$SIZE_CALLOUT: 15;
$SIZE_SUBHEAD: 14;
$SIZE_FOOTNOTE: 12;
$SIZE_CAPTION1: 11;
$SIZE_CAPTION2: 11;
