.dropdown-item {
  text-align: left;
  display: flex;
  height: 56px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:hover, &.active {
    @include themed() {
      background-color: #F1F1F3;
    }
  }

  &__icon {
    width: 55px;
    text-align: center;
    padding-top: 2px;
    font-size: 25px;
  }
  &__text {
    flex: 1;
    padding: 0 0 0 17px;
  }
  &__placeholder {
    padding: 1px 17px 2px 0;
    @include themed() {
      color: t('secondaryLabel');
    }
  }

  &--active {
    background-color: #F1F1F3;
  }
}
