.dropdown-menu {
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  min-width: 100%;
  top: calc(100% + 7px);
  left: 0;
  z-index: 10;
  box-shadow: 0 5px 10px rgba(black, 0.3);
  display: none;

  &__active {
    display: block;
  }
  &__wrapper {
    padding: 9px 0;
    max-height: 376px;
    overflow-y: auto;

    @include themed() {
      background-color: t('systemBackground');
    }
  }
}
