.dropdown {
  position: relative;
  width: 100%;
  z-index: 9;
  .addons {
    i {
      transition: transform 0.25s ease;
      transform: scaleY(1);
    }
  }

  &--active {
    .addons {
      i {
        transform: scaleY(-1);
      }
    }
    > .dropdown-menu {
      display: block;
    }
  }
}
