.login {
  align-self: flex-start;
  margin-top: 108px;
  text-align: center;
  width: 360px;

  &__logo {
    display: flex;
    justify-content: center;
    height: 170px;
    &-sticker {
      margin: 9px 0 0 -2px !important;
    }
    &-image {
      width: 160px;
      height: 160px;
        background-image: url(../../images/logo@1x.png);
    }
    @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
      &-image {
        background-image: url(../../images/logo@2x.png);
      }
    }
    .avatar-picker {
      align-self: flex-end;
    }
  }
  &__header {
    padding-bottom: 37px;
    &__title {
      margin: 31px 0 10px;
      height: 44px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 12px;
      }
      .button-icon {
        margin-left: -1px;
      }
    }
    &__title {
      font-size: #{$SIZE_LARGE_TITLE}px;
      font-weight: 500;
    }
    &__subtitle {
      line-height: 21px;
    }
  }
  &-form {
    margin-bottom: 12px;
  }
  .checkbox-field {
    margin-bottom: 15px;
  }
}
