.scroll-view {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;

  &:hover {
    .scroll-view__scrollbar {
      opacity: 1;
    }
  }

  &__container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
    margin-right: -17px;
  }

  &__scrollbar {
    position: absolute;
    width: 8px;
    transition: opacity 200ms ease 0s;
    opacity: 0;
    right: 2px;
    bottom: 2px;
    top: 5px;
    bottom: 5px;
    border-radius: 3px;
    div {
      position: relative;
      display: block;
      width: 6px;
      cursor: pointer;
      border-radius: inherit;
      background-color: rgba(black, 0.25);
      height: 30px;
      transform: translateY(0);
      transition: height 100ms ease;
      height: 10%;
    }
  }
}
